[submodule "ext-src/mscclpp"]
	path = ext-src/mscclpp
	url = https://github.com/microsoft/mscclpp.git
	ignore = dirty
	shallow = true
[submodule "ext-src/json"]
	path = ext-src/json
	url = https://github.com/nlohmann/json.git
	ignore = dirty
	shallow = true
